html, 
body,
#app{height:100%;}
html,
body{overflow:hidden;}
html.lock{
	body, #app, .page_wrap{overflow:hidden;}
	.page_wrap{position:fixed;width:100%;height:100%;}
}
.page_wrap{
  position:relative;min-width:320px;height:100%;overflow:auto;
  &.lock{
		position:fixed;width:100%;height:100%;overflow:hidden;
		// &>.page_inner>.fixed_space{height:0 !important;}
	}
	// &.fixed_hide{
	// 	.page_head.fixed{
	// 		&>div{transform:translateY(-100%);}
	// 	}		
	// }
}
.page_head{
	position:relative;height:56px;
	&>div{
		position:relative;top:0;left:0;display:flex;align-items:center;justify-content:space-between;width:100%;height:56px;padding:0 10px;background:#fff;transition:0.3s;transform:translateZ(0);z-index:20;
	}
	.page_head_in{
		flex:1 1 auto;padding:0 4px;
		.header_flex { display:flex; align-items:center;
			.button { margin-left:auto;
				&.ico_tip { width:24px; height:24px; font-size:0; background:url('~@/assets/images/common/ico_header_tip.png') no-repeat center center / 24px;}
			}
		}
	}
	h1{
		font-size:1.6rem;line-height:2rem;color:#333;text-align:left;overflow:hidden;text-overflow:ellipsis;
		white-space:nowrap;
		//display:-webkit-box;word-wrap:break-word;-webkit-box-orient:vertical;-webkit-line-clamp:2;
	}

	&.fixed{
		&>div{position:fixed;box-shadow:0 2px 2px 0 rgba(0, 0, 0, 0.08);z-index:100;}
	}
	[class*=btn_]{position:relative;display:block;height:56px;overflow:hidden;}
	&.no_btn [class*=btn_]{display:none;}
	.btn_back{
		width:24px;flex:0 0 24px;
		background:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg stroke='%23222' stroke-width='1.5'%3E%3Cg%3E%3Cg%3E%3Cpath d='M16 4L8 12.242 16 20' transform='translate(-250 -412) translate(240 396) translate(10 16)'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A") 50% 50% no-repeat;background-size:24px auto;}
	.btn_gnb{
		width:44px;flex:0 0 44px;
		i{
			display:block;width:24px;height:24px;position:absolute;left:50%;top:50%;margin:-12px 0 0 -12px;
			background:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg stroke='%23222' stroke-width='1.5'%3E%3Cg%3E%3Cg%3E%3Cpath d='M2 6L22 6M2 12L22 12M2 18L22 18' transform='translate(-556 -412) translate(240 396) translate(316 16)'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A") center center no-repeat;
			background-size:100% 100%;
		}
	}
	.btn_close{
		width:28px;flex:0 0 28px;
		background:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg%3E%3Cg%3E%3Cg%3E%3Cpath stroke='%23222' stroke-width='1.5' d='M5.5 18.5L18.5 5.5M18.5 18.5L5.5 5.5' transform='translate(-324 -40) translate(0 24) translate(324 16)'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A") 50% 50% no-repeat;background-size:24px auto;
	}
	.h1_scl_top{display:block;position:absolute;left:0;top:10px;width:100%;height:30px;font-size:1px;text-indent:-9999rem;color:transparent;overflow:hidden;}
	&.small{
		font-size:1.6rem;padding:0;height:50px;white-space:normal;
		&>.in{position:absolute;left:0;width:100%;top:50%;display:block;display:-webkit-box;line-height:19px;-webkit-line-clamp:2;word-wrap:break-word;-webkit-box-orient:vertical;text-overflow:ellipsis;overflow:hidden;transform:translateY(-50%);}
	}
	&.logo{
		margin-left:20px;text-align:left;
		.center{
			margin-left:55px;float:none;
			a,span{margin:0 auto;}
		}
	}
}
html.is_app.ios.inpFocus .page_head>div{position:absolute;}
.page_head h1.logo a,
.page_head h1.logo span,
.nh_logo a,
.nh_logo span{display:block;width:130px;height:26px;text-indent:-9999rem;overflow:hidden;color:transparent;background:url('~@/assets/images/common/head_logo.png') no-repeat left center;background-size:auto 19px;}

[class*=btn_gnb_]{
	position:relative;display:block;width:30px;height:30px;
	&:before{
		content:'';display:block;width:20px;height:20px;position:absolute;left:50%;top:50%;margin:-10px 0 0 -10px;
		//background:url('~@/assets/images/common/spr_btn_gnb.png') no-repeat center top;
		background-size:20px auto;
	}
	&.new:after{content:'';display:block;width:5px;height:5px;position:absolute;top:2px;right:2px;border-radius:50%;background:#f67459;}
}
.btn_gnb_close:before{background-image:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='60px' height='60px'%3E%3Cpath fill-rule='evenodd' opacity='0.012' fill='rgb(255, 255, 255)' d='M0.000,0.000 L60.000,0.000 L60.000,60.000 L0.000,60.000 L0.000,0.000 Z'/%3E%3Cpath fill-rule='evenodd' fill='rgb(0, 0, 0)' d='M2.829,0.617 L58.975,56.451 C59.510,56.983 59.510,57.845 58.975,58.377 C58.441,58.909 57.574,58.909 57.039,58.377 L0.893,2.542 C0.358,2.010 0.358,1.148 0.893,0.617 C1.427,0.085 2.294,0.085 2.829,0.617 Z'/%3E%3Cpath fill-rule='evenodd' fill='rgb(0, 0, 0)' d='M57.633,1.393 L1.079,57.633 C0.540,58.169 0.540,59.037 1.079,59.572 C1.617,60.108 2.490,60.108 3.029,59.572 L59.583,3.332 C60.122,2.797 60.122,1.928 59.583,1.393 C59.045,0.857 58.172,0.857 57.633,1.393 Z'/%3E%3C/svg%3E");}
.btn_gnb_home:before{background-image:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='60px' height='60px'%3E%3Cpath fill-rule='evenodd' stroke='rgb(51, 51, 51)' stroke-width='3px' stroke-linecap='round' stroke-linejoin='miter' fill='none' d='M3,30 L30,3 L57,30 '/%3E%3Cpath fill-rule='evenodd' stroke='rgb(51, 51, 51)' stroke-width='3px' stroke-linecap='square' stroke-linejoin='miter' fill='none' d='M20,56 L20,41 C20,36.5 25,31 30,31 C35,31 40,36.5 40,41 L40,41 L40,56 '/%3E%3Cpath fill-rule='evenodd' stroke='rgb(51, 51, 51)' stroke-width='3px' stroke-linecap='square' stroke-linejoin='miter' fill='none' d='M54,28 L54,51 C54,57 54,57 48,57 L12,57 C6,57 6,57 6,51 L6,28 '/%3E%3C/svg%3E%0A");}
.btn_gnb_close{position:fixed;top:10px;right:15px;}
.btn_gnb_close.last_focus{background:none;opacity:0;}


#gnb{visibility:hidden;position:fixed;top:0;right:0;width:100%;height:100%;overflow:hidden;z-index:120;
	&>.bg{position:absolute;top:0;left:0;width:100%;height:100%;opacity:0;background:rgba(0,0,0,.7);transition:0.45s cubic-bezier(0.22,0.61,0.2,1) 0.15s;}
	&>.inner{
		display:flex;flex-direction:column;position:relative;width:100%;height:100%;background-color:#fff;transition:0.45s cubic-bezier(0.22,0.61,0.2,1);overflow:hidden;transform:translate3d(120%,0,0);
	}
	&.show{
		visibility:visible;
		&>.bg{opacity:1;transition-delay:0s;}
		&>.inner{transition-delay:0.15s;transform:translate3d(0,0,0);}
	}
}
#gnb{
	.ui-spl-item{opacity:0;transition:0.3s ease;}
	&.show .ui-spl-item{opacity:1;}
}
.gnb_header{
	position:relative;width:100%;padding:0 20px;background-color:#f8f8f8;
	.gnb_head_top{
		position:relative;height:50px;padding:10px 39px 10px 0;text-align:right;
		&:after{content:'';display:block;clear:both;}
		[class*=btn_gnb_]{display:inline-block;vertical-align:top;}
		[class*=btn_gnb_]+[class*=btn_gnb_]{margin-left:10px;}
		.button{min-width:30px;height:30px;line-height:28px;padding:0;font-size:1.4rem;vertical-align:top;}
	}
}

.gnb_content{
	position:relative;flex:1 1 auto;display:flex;width:100%;height:100%;overflow:hidden;
	a{position:relative;display:block;}
}

html.mobile .gnb_dep1::-webkit-scrollbar{display:none;}
.gnb_dep1{
	position:relative;flex:0 0 111px;height:100%;overflow-x:hidden;overflow-y:auto;display:flex;
	flex-direction:column;justify-content:space-between;
	>ul{
		>li{
			border-bottom:1px solid #ddd;
			>a{
				display:table;width:100%;text-align:center;font-size:1.5rem;font-weight:bold;line-height:1.2;color:#222;
				>span{display:table-cell;height:53px;vertical-align:middle;}
			}
			&.open{
				background:#ffdc00;border-color:#ffdc00;
				>a{
					z-index:1;
				}
			}
		}
		&+.btn{
			margin-top:28px;
		}
	}
	.gnb_dep1_etc{
		padding:10px;
		.button{width:100%;padding:0;}
	}
}

.gnb_dep2_wrap{flex: 1 1 auto;height:100%;overflow-x:hidden;overflow-y:auto;border-left:1px solid #ddd;}
.gnb_dep2{
	padding:0 16px;
	&:last-child{min-height:100%;}
	.gnb_dep2_tit{font-size:18px;padding:10px 0;background:#ffdc00;}
	>ul{
		>li{
			>a{
				padding:15px 20px 15px 2px;font-weight:bold;font-size:1.5rem;color:#111;border-bottom:1px solid #ddd;transition:color 0.3s;
				/*
				&:after{
					content:'';display:block;width:9px;height:14px;position:absolute;right:0;top:50%;margin-top:-7px;background:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='27px' height='43px'%3E%3Cpath fill-rule='evenodd' stroke='rgb(153, 153, 153)' stroke-width='6px' stroke-linecap='round' stroke-linejoin='miter' fill='none' d='M3.941,38.857 L21.283,21.503 L3.941,4.149 '/%3E%3C/svg%3E") no-repeat center center;background-size:100% 100%;
				}
				*/
			}
			&.active>a{
				font-weight:bold;color:#5177bc;
				/*
				&:after{background-image:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='27px' height='43px'%3E%3Cpath fill-rule='evenodd' stroke='rgb(93, 164, 220)' stroke-width='6px' stroke-linecap='round' stroke-linejoin='miter' fill='none' d='M3.941,38.857 L21.283,21.503 L3.941,4.149 '/%3E%3C/svg%3E");}
				*/
			}
		}
	}
}
.gnb_dep2,
.gnb_dep3{
	&>ul>li{
		&>a.in_sub:after{width:14px;height:9px;margin-top:-4.5px;transform:rotate3d(1,0,0,0deg);transition:0.3s;background-image:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='43px' height='27px'%3E%3Cpath fill-rule='evenodd' stroke='rgb(153, 153, 153)' stroke-width='6px' stroke-linecap='round' stroke-linejoin='miter' fill='none' d='M4.143,2.941 L21.497,21.283 L38.851,2.941 '/%3E%3C/svg%3E");}
		&.active>a.in_sub:after{background-image:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='43px' height='27px'%3E%3Cpath fill-rule='evenodd' stroke='rgb(93, 164, 220)' stroke-width='6px' stroke-linecap='round' stroke-linejoin='miter' fill='none' d='M4.143,2.941 L21.497,21.283 L38.851,2.941 '/%3E%3C/svg%3E");}
		&.open>a.in_sub:after{transform:rotate3d(1,0,0,180deg);}
	}
}
// .open>.gnb_dep3{display:block;}
.gnb_dep3{
	// display:none;
	padding:5px 0 9px;
	>ul{
		>li{
			>a{
				position:relative;display:block;color:#666;font-size:1.5rem;border:1px solid transparent;padding:5px 0 5px 10px;
				&.in_sub{
					padding-right:20px;
					&:after{
						content:'';display:block;position:absolute;right:0;top:50%;background-size:100% 100%;
					}
				}
			}
			&.active{
				>a{
					color:#5177bc;
					&.in_sub{
						&:after{
							border-color:#5b86d4;
						}
					}
				}
			}
		}
	}
}

.open>.gnb_dep4{display:block;}
.gnb_dep4{
	display:none;
	>ul{
		padding-left:10px;
		>li{
			>a{
				position:relative;display:block;padding:5px 0 5px 11px;color:#666;font-size:1.4rem;
				&:before{
					content:'';display:block;width:4px;height:1px;position:absolute;left:0px;top:14px;background:#666;
				}
			}
			&.active{
				>a{
					color:#333;font-weight:bold;
					&:before{
							background:#333;
					}
				}
			}
		}
	}
}

.gnb_foot{
	background:#f8f8f8;padding:30px 20px;
	.btn_wrap{
		margin-top:0;
	}
	.button{
		background:#fff;box-shadow:2px 2px 10px rgba(0,0,0,0.1);
	}
}

.gnb_user_info{
	display:flex;align-items:center;justify-content:space-between;
	.inner{
		display:flex;align-items:center; 
	}
	.img{
		width:58px;height:58px;border-radius:50%;overflow:hidden;background:#eee;margin-right:10px;
		img{width:100%;}
	}
	.button{min-width:30px;height:30px;line-height:28px;padding:0;font-size:1.4rem;vertical-align:top;}
	.tit{
		font-size:1.8rem;color:#111;word-break:break-all;
		.line{border-bottom:1px solid #111;}
		&.small{
			font-size:1.6rem;
			line-height:1.2;
		}
		&.ty2{
			text-align:center;
			>a{
				display:block;
				padding:20px 0;
			}
		}
  }
}

.gnb_head_link{
	display:flex;align-items:center;justify-content:space-around;padding:10px 0;margin-top:15px;border-top:1px solid #eee;
}

.page_container{position:relative;min-height:calc(100vh - 56px);}
.page_body{padding-bottom:60px;}
.section{
	padding:0 20px;
	&.pd_bottom{padding-bottom:30px;}
}

html.is_app .page_foot{display:none;}
.page_foot{position:relative;text-align:center;border-top:1px solid #eee;padding:20px 0;}
.foot_link{
	display:flex;justify-content:space-between;align-items:center;
	&>ul{font-size:0;color:#222;
		&>li{
			position:relative;display:inline-block;padding:0 6px;
			&:first-child{padding-left:0;}
			&:last-child{padding-right:0;}
			&>a{display:block;font-size:1.4rem;line-height:2.4rem;}
		}
	}
}
.foot_tel{display:block;padding-left:30px;line-height:2.4rem;font-size:1.4rem;color:#222;
	background:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cg fill='none' fill-rule='evenodd' stroke-linecap='round' stroke-linejoin='round'%3E%3Cg stroke='%23050101' stroke-width='1.5'%3E%3Cg%3E%3Cg%3E%3Cpath d='M14.15 6.44c1.721.335 3.067 1.679 3.403 3.397M14.15 3c3.602.399 6.446 3.234 6.851 6.829m-.862 6.863v2.58m-4.017 1.35c-1.877-.45-3.67-1.216-5.298-2.27-2.082-1.32-3.848-3.082-5.17-5.16-1.457-2.244-2.363-4.799-2.646-7.457-.044-.482.117-.958.443-1.315s.788-.56 1.272-.56h2.585c.865-.009 1.602.624 1.723 1.479.11.826.312 1.636.603 2.416.237.629.086 1.338-.387 1.816l-1.095 1.092c1.227 2.153 3.014 3.936 5.171 5.161l1.094-1.093c.48-.472 1.19-.623 1.818-.387.782.291 1.595.493 2.422.602.867.122 1.504.873 1.482 1.746' transform='translate(-482 -842) translate(240 820) translate(242 22)'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A") no-repeat left center;background-size:24px auto;
}
.foot_info{margin-top:16px;display:flex;justify-content:space-between;align-items:center;}
.foot_copy{color:#666;font-size:1.2rem;}
.foot_logo a{display:block;width:80px;height:19px;font-size:0;color:transparent;overflow:hidden;background:url('~@/assets/images/common/foot_logo.png') no-repeat center center;background-size:contain;}

.fixed_space{box-sizing:content-box;}
html.is_app.ios.lastInp .fixed_space{padding-top:40vh;}
html.is_app.ios.lastInp .popup.show.full .pop_body{padding-bottom:40vh;} 

/*floating_btn*/
.floating_btn{
	position:fixed;bottom:20px;right:20px;z-index:25;transition:padding 0.3s;
	&.left{right:auto;left:20px;}
	.btn{
		position:relative;display:block;width:48px;height:48px;margin-top:10px;background-color:#3b3f47;background-repeat:no-repeat;background-position:center center;border-radius:50%;background-size:contain;z-index:2;
		&:first-child{margin-top:0;}
		.txt{display:block;position:absolute;right:48px;top:0;line-height:48px;padding:0 8px;white-space:nowrap;}
		&.btn_scltop{
			position:absolute;bottom:0;opacity:0;right:-150px;margin-top:0;transition:opacity 0.3s,right 0s 0.3s;z-index:1;background:#fff;box-shadow:2px 2px 4px 0 rgba(0, 0, 0, 0.12);font-size:3px;color:transparent;overflow:hidden;
			&:before{content:'TOP';display:block;position:absolute;top:50%;left:0;width:100%;margin-top:2px;font-size:1.2rem;color:#666;text-align:center;transform:translateY(-50%);}
		}
		&.btn_quick{
			font-size:3px;color:transparent;overflow:hidden;
			&:before{content:'';display:block;width:34px;height:34px;transition:0.2s ease;position:absolute;top:50%;left:50%;margin:-17px 0 0 -17px;
				background:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='34' height='34' viewBox='0 0 34 34'%3E%3Cdefs%3E%3Cfilter id='1xrm45m4ea'%3E%3CfeColorMatrix in='SourceGraphic' values='0 0 0 0 1.000000 0 0 0 0 1.000000 0 0 0 0 1.000000 0 0 0 1.000000 0'/%3E%3C/filter%3E%3C/defs%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg%3E%3Cg filter='url(%231xrm45m4ea)' transform='translate(-543 -699) translate(536 692)'%3E%3Cg%3E%3Cpath stroke='%23222' stroke-width='1.5' d='M5.5 18.5L18.5 5.5M18.5 18.5L5.5 5.5' transform='rotate(45 3.515 32.485)'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E") no-repeat center center;
			}
		}
	}
	&.top_on{
		padding-bottom:60px;
		.btn_scltop{opacity:1;right:0;transition-delay:0s,0s;}
	}
	.quick{
		position:relative;
		&>div{visibility:hidden;position:absolute;top:0;right:0;display:flex;height:100%;border-radius:24px;background:#3b3f47;white-space:nowrap;opacity:0;transition:0.2s ease;}
		li{display:inline-block;}
		a{display:inline-block;color:#fff;line-height:48px;padding:0 10px;}
		&.open{
			&>div{right:60px;visibility:visible;opacity:1;}
			.btn_quick:before{transform:rotate(45deg);}
		}
	}
}
html.is_app.ios.inpFocus .floating_btn{display:none;}
.page_wrap.lock>div>div>.btn_scltop{display:none;}

@media only screen and (min-width:680px){
	.gnb_dep1{flex:0 0 150px;}
}