/* 작업자:jyj */
/* 인사이트 */
.insight_wrap{
  color:var(--kb-txt-666666);
  .top_tit{margin-top:12px;font-size:14px;line-height:normal;text-align:center;}
  &>ul{
    margin-top:12px;
    li{
      padding:16px 0 48px;border-top:1px solid var(--kb-line-ebebeb);
      &:last-child{padding-bottom:24px;}
    }
  }
  .date_info{font-size:14px;line-height:normal;text-align:center;}
  .msg_info{
    display:block;margin-top:24px;
    .alarm_box{
      padding-left:52px;color:var(--kb-txt-666666);    
      strong{color:var(--kb-txt-222222);line-height:1.5;}
      p{overflow:hidden;margin-top:4px;font-size:14px;line-height:normal;text-overflow:ellipsis;}
      .categoty_info{margin-top:16px;font-size:12px;line-height:1.33;}
      &[class*=ico_]{
        position:relative;
        &:before{content:'';position:absolute;top:0;left:0;width:40px;height:40px;background-repeat:no-repeat;background-position:center center;background-size:contain;}
      }
      &.ico_a:before{background-image:url('~@/assets/images/TO/01/ico_insight_a.png');}//투자사후관리
      &.ico_b:before{background-image:url('~@/assets/images/TO/01/ico_insight_b.png');}//결제예정
      &.ico_c:before{background-image:url('~@/assets/images/TO/01/ico_insight_c.png');}//현금자산변동
      &.ico_d:before{background-image:url('~@/assets/images/TO/01/ico_insight_d.png');}//투자자산변동
      &.ico_e:before{background-image:url('~@/assets/images/TO/01/ico_insight_e.png');}//paly
      &.ico_f:before{background-image:url('~@/assets/images/TO/01/ico_insight_f.png');}//투자진단
      &.ico_g:before{background-image:url('~@/assets/images/TO/01/ico_insight_g.png');}//서비스체험
      &.ico_h:before{background-image:url('~@/assets/images/TO/01/ico_insight_h.png');}//기타
    }    
  }
}

/* 오늘 */
.top_banner{
  height:116px;margin:0 -20px;background-color:#eef2fd;
  a{position:relative;display:block;
    p{
      padding:32px 0 32px 28px;font-size:18px;font-weight:bold;color:#385c9d;line-height:1.44;
      &:after{content:'';display:inline-block;width:16px;height:16px;margin-left:4px;background:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg%3E%3Cg%3E%3Cg%3E%3Cpath stroke='%23888' stroke-width='1.5' d='M10.5 3L5.5 8.151 10.5 13' transform='translate(-139 -372) translate(0 335) translate(139 37) matrix(-1 0 0 1 16 0)'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A") no-repeat center center;}
    }
    img{position:absolute;top:0;right:0;width:180px;height:116px;}
  }  
}
.total_assets_box{
  padding:40px 0 24px;
  .btm_btn{
    display:flex;padding-left:8px;justify-content:space-between;
    .btn_link{font-weight:bold;line-height:normal;color:#5177bc;}
    .bt_ic_arr{
      width:16px;height:16px;margin-left:1px;
      &.bt_ic_arr:before{right:7px;width:5px;height:5px;border-color:var(--kb-line-888888);border-width:0 1.5px 1.5px 0;}
    }
  }
}
.accordion_list{
  &.not_border{
    border:0;
    .tit{    
      .button{
        margin-bottom:32px;padding:0 0 0 8px;transition:0.3s;
        &.open{margin-bottom:0;}        
        .stit{
          strong{font-size:20px;color:var(--kb-txt-222222);line-height:1.4;}
        }
        &:after{top:42px;right:0;}
      }
    }
    .tip_txt{font-size:14px;font-weight:normal;color:#6f7a94;line-height:normal;}
    .panel{
      &>.inner{padding:16px 0 24px;border:0;}
	  }    
  }
}
.total_assets_list{
  li{padding:16px 0;border-radius:6px;
    &+li{border-top:1px solid #eee;
      span + span{font-weight:bold;color:var(--kb-txt-222222);font-size:16px;}
    }
    &>div{display:flex;align-items:center;justify-content:space-between;
      span{font-size:14px;color:var(--kb-txt-666666);}      
    }
    .amount_money{margin-top:4px;font-size:12px;line-height:1.33;text-align:right;
      &.plus{color:#6f7a94}
      &.minus{color:red;}
    }
  }
}
.assets_type_box{
  position:relative;padding:24px 0 0;
  .all_open_close{position:absolute;top:40px;right:0px;width:auto;height:auto;padding:0;font-size:12px;color:var(--kb-txt-666666);line-height:1.33;}
  .tab_wrap{margin-bottom:0;
    .tabmenu3{
      &+.tab_content{margin-top:16px;}
    }
  }
  .accordion_list_1{
    &>.item:last-child:after{display:none;}
  }
}
.btm_btn_util{
  display:flex;height:80px;margin:0 -20px;border-top:1px solid #ddd;background-color:var(--kb-bg-f8f8f8);
  
  .btn_refresh,.btn_linkage{flex:1 1 auto;font-size:14px;font-weight:bold;line-height:80px;color:#5177bc;text-align:center;
    &:before{content:'';position:relative;top:6px;display:inline-block;width:24px;height:24px;margin-right:2px;background:url('~@/assets/images/common/ico_linkage.png') no-repeat;background-size:100%;}
  }
  .btn_refresh{
    &:before{background:url('~@/assets/images/common/ico_refresh.png') no-repeat;background-size:100%;}
    &:after{content:'';position:absolute;top:50%;right:0;width:1px;height:19px;background-color:var(--kb-bg-dddddd);transform:translateY(-50%);}
  }

  &.type2{flex-wrap:wrap;height:auto;}
  .text{padding:14px 20px 0;font-size:12px;color:var(--kb-txt-666666);width:100%;}
  &.type3{
    margin:0;height:auto;border-top-width:0;background:none;
    .btn_refresh,.btn_linkage{
      line-height:77px;
    }
  }
}
.chart_area{position:relative;margin:0 -20px;}
.assets_change_info{
  padding:32px 8px 32px;
  .type_line{margin-bottom:8px;}
  .tit{margin-bottom:16px;font-size:20px;font-weight:bold;color:var(--kb-txt-222222);line-height:1.4;}
  .date{margin-bottom:32px;font-size:14px;font-weight:bold;color:var(--kb-txt-666666);line-height:normal;}
  .assets_list_box{
    li{
      &+li{margin-top:8px;}
      display:flex;justify-content:space-between;line-height:normal;align-items:center;
      span{font-size:14px;line-height:1.43;
        &:first-child{color:var(--kb-txt-666666);}
        &:last-child{font-weight:bold;color:var(--kb-txt-222222);}
        b{margin-right:7px;
          &.plus{color:#de092f;}
          &.minus{color:#2859d1;}
        }
      }
    }
  }
}

.assets_change_detail{
  dl{display:flex;margin-top:8px;align-items:center;
    dt{font-size:12px;color:var(--kb-txt-666666);}
    dd{flex:1 1 auto;text-align:right;font-size:14px;color:var(--kb-txt-666666);font-weight:bold;}

    &.line{margin-top:12px;padding-top:12px;border-top:1px solid #eee;}

    &.type2{
      dt{font-size:14px;}
      dd{font-size:16px;color:var(--kb-txt-222222);}
    }
  }
  .total{border:1px solid var(--kb-line-eeeeee);padding:24px 20px;border-radius:6px;background:var(--kb-bg-f8f8f8);
    .tit{font-size:16px;font-weight:bold;}
  }
  .month{margin-top:32px;
    .tit{padding-bottom:7px;margin-bottom:16px;border-bottom:1px solid #ccc;font-size:14px;}
    .box{margin-top:12px;padding:16px;border:1px solid var(--kb-line-eeeeee);border-radius:6px;background:var(--kb-bg-ffffff);}
  }
}


[class*=tit_h]{
  &.tbl_tit{margin:48px 0 16px;}
}
.timeline_wrap{padding-top:10px;color:var(--kb-txt-222222);
  &>.tit{margin-left:9px;font-size:20px;font-weight:bold;line-height:1.4;}
  .search_date{margin:16px 0 0 10px;font-size:14px;color:var(--kb-txt-666666);line-height:1.43;}  
  .btn_toggle{margin-top:46px;}  
  .timeline_box{
    .top_head{
      display:flex;padding:24px 13px 16px;justify-content:space-between;align-items:center;border-bottom:1px solid #ebebeb;
      .minus,.plus{
        position:relative;font-size:12px;line-height:1.33;
        &:before{content:'';position:absolute;top:50%;width:11px;height:2px;transform:translateY(-50%);}
      }
      .minus{padding-left:20px;color:#2859d1;
        &:before{left:0;background-color:#2859d1;}
      }
      .plus{padding-right:20px;color:#de092f;
        &:before{right:0;background-color:#de092f;}
        &:after{content:'';position:absolute;top:50%;right:4px;width:2px;height:11px;background-color:#de092f;transform:translateY(-50%);}
      }
      .tit{font-size:18px;font-weight:bold;line-height:1.44;}
    }
    .timeline_list{border-bottom:1px solid #ebebeb;
      .day{position:sticky;top:97px;padding:16px 0;font-size:14px;color:var(--kb-txt-666666);text-align:center;line-height:1.43;background-color:var(--kb-bg-ffffff);z-index:1;}
      .total{
        display:flex;padding:12px 12px 10px;font-size:12px;line-height:1.33;justify-content:space-between;border-radius:6px;border:1px solid var(--kb-line-eeeeee);background-color:var(--kb-bg-f8f8f8);
        strong{flex:1;
          &.minus{color:#2859d1;}
          &.plus{text-align:right;color:#de092f;}
        }
      }
      .msg_box{
        &>li{display:flex;margin-top:8px;align-items:flex-end;
          &:last-child{padding-bottom:38px;}
          .alarm_box{display:block;width:220px;padding:12px 16px 12px 8px;border-radius:6px;background-color:var(--kb-bg-f8f8f8);}
          .title{display:flex;font-size:14px;color:var(--kb-txt-222222);font-weight:bold;line-height:normal;
            i{flex:0 0 auto;width:24px;height:24px;margin:-4px 8px -4px 0;background-image:url('~@/assets/images/TO/02/ico_assets.png');background-repeat:no-repeat;background-size:100%;
              &.ico1{background-position:0 0px;} // 현금
              &.ico2{background-position:0 -24px;} // 투자
              &.ico3{background-position:0 -48px;} // 카드,대출
              &.ico4{background-position:0 -72px;} // 보험
              &.ico5{background-position:0 -96px;} // 연금
              &.ico6{background-position:0 -120px;} // 실물
            }
          }
          .amount{padding:4px 0 0 32px;font-size:12px;line-height:1.33;}
          .date{margin-left:8px;font-size:10px;font-weight:bold;color:var(--kb-txt-666666);}
          &.deposit{flex-direction:row-reverse;text-align:right;
            .alarm_box{padding:12px 8px 12px 16px;}
            .title{flex-direction:row-reverse;
              i{margin:-4px 0 -4px 8px;}
            }
            .amount{padding:4px 32px 0 0;}
            .date{margin:0 8px 0 0;}
          }
        }
        .invest_list{margin:12px 0 12px 32px;
          li{display:flex;font-size:12px;color:var(--kb-txt-666666);line-height:1.67;justify-content:space-between;}
        }
        .invest_life_go{display:block;margin-left:8px;padding:6px 12px 7px;font-size:12px;text-align:center;color:#fff;line-height:normal;border-radius:2px;background-color:#5b86d4;}
      }
    }
  }
  .end_txt{padding:16px 0;font-size:14px;color:var(--kb-txt-666666);text-align:center;line-height:1.43;}
  .tooltip_layer{
    position:absolute;top:12px;left:20px;right:20px;padding:12px 44px 12px 16px;font-size:14px;line-height:1.43;color:#fff;border-radius:6px;background-color:rgba(0,0,0,0.8);z-index:3;
    &.fade-leave-active{transition:opacity 0.5s;}
    &.fade-leave-to{opacity:0;}
    .pop_close{
      position:absolute;top:50%;right:12px;transform:translateY(-50%);
      filter:invert(100%) sepia(1%) saturate(16%) hue-rotate(324deg) brightness(104%) contrast(100%);
    }    
  }
}
.view_option{display:flex;margin:19px 0 10px;justify-content:space-between;align-items:center;}
.type_cal{
  // &.inline{overflow:visible;}

  // .btn_toggle_row{overflow-x:auto;}

  .ico_cal{
    display:inline-block;width:16px;height:16px;margin-left:2px;background:url('~@/assets/images/common/ico_calender.png') 0 0 no-repeat;background-size:100%;
  }
  .checked{
    .ico_cal{background-position:0 -16px}
  }
  .datepicker_box{margin-top:14px;}
  .btn_search{height:40px;margin-top:8px;font-size:14px;color:#5177bc;line-height:1.43;border-radius:2px;border-color:#5b86d4;}
}
.section{
  .inner_box{padding:0 8px;
    .tit_h2{margin-top:40px;}
    &.month_mgt{
      .chart_area{margin:20px 0 0;}
    }    
  }
  .inner_section{padding-top:32px;
    .btn_link{
      &.blue{font-weight:bold;color:#5177bc;}
    }
  }
}
.list_tot{margin-bottom:8px;
  li{
    &+li{padding-top:10px;}
    &>div{
      display:flex;justify-content:space-between;align-items:center;
      &+div{margin-top:4px;}
      span{font-size:15px;line-height:1.47;}
      [class*=ico_]{display:inline-block;width:8px;height:8px;margin:0 8px 1px 0;border-radius:8px;
        &.ico_1{background-color:#5b86d4;}
        &.ico_2{background-color:var(--kb-bg-dddddd);}
      }
    }    
    &.btm_tot{margin-top:17px;padding-top:16px;border-top:1px solid #eee;
      span{font-size:14px;font-weight:bold;line-height:normal;color:var(--kb-txt-666666);}
    }
    .tit{position:relative;margin-bottom:8px;font-size:14px;font-weight:bold;line-height:1.43;}
    [class*=label_]{position:absolute;top:-5px;right:0;display:inline-block;padding:5px 8px;font-size:12px;line-height:1.33;border-radius:30px;
      &.label_plan{font-weight:normal;background:rgba(238,238,238,0.8);}
      &.label_unpaid{color:#de092f;background:rgba(222,9,47,0.08);}
      &.label_finish{color:#2859d1;background:rgba(40,89,209,0.08);}
    }
  }
  &.history{
    li{padding:16px 0;
      &+li{border-top:1px solid #eee;}
      &.nothing{margin:16px 0 0;padding:27px 0 25px;font-size:14px;font-weight:bold;line-height:1.43;text-align:center;border-radius:6px;border:1px solid var(--kb-line-ebebeb) !important;}
      &>div{
        span{font-size:14px;line-height:1.43;
          &:first-child{font-size:12px;color:var(--kb-txt-666666);line-height:1.33;}
        }
      }
      &.btm_tot{margin-top:0;
        span:first-child{font-size:14px;line-height:normal;}
      }      
      &.top_tot{
        &+li{border-top:1px solid #bbb;}
        span{
          &:first-child{font-size:14px;}
          &:last-child{font-weight:bold;}
        }
      }
    }
    &.bottom_line{
      li{border-bottom:1px solid #eee;
        &+li{border-top-width:0px;}
      }
    }
  }
  &.loss{
    &.bdb{
      li:last-child{border-bottom:1px solid #eee;}
    }
    li{
      &+li{border-color:var(--kb-line-eeeeee);}
      .list{display:block;
        >div{display:flex;align-items:center;
          i{flex:0 0 auto;}
          span{color:var(--kb-txt-666666);}
          strong{flex:1 1 auto;text-align:right;}
        }
      }
      &.top_tot{padding:32px 0 24px;
        &+li{border-color:var(--kb-line-eeeeee);}
        strong{font-size:18px;color:var(--kb-txt-222222);}
        &.type2{padding-bottom:2px;
          &+li{border:0;}
        }
      }
      .ct_tit{margin-bottom:18px;font-size:14px;color:var(--kb-txt-666666);line-height:1.43;}
      &>div{
        &+div{margin-top:12px;}
        .btn_link{overflow:hidden;display:inline-block;padding-right:5px;text-overflow:ellipsis;white-space:nowrap;font-size:14px;color:var(--kb-txt-666666);}
        strong{font-size:14px;}
      }
      .logo{width:24px;margin:0 8px 0 0;border-radius:0;
        img{width:24px;height:24px;}
      }
      .date{margin-bottom:12px;font-size:12px;color:var(--kb-txt-666666);line-height:1.33;}
      &.nothing{margin:0;padding:80px 0 0 0;border:0 !important;
        .ico_big_warning{display:inline-block;width:48px;height:48px;background:url('~@/assets/images/common/ico_big_warning.png') 0 0 no-repeat;background-size:100%;}
        .txt{margin-top:20px;font-size:18px;font-weight:bold;line-height:1.44;text-align:center;}
      }
    }
  }  
}
.view_option{&+.loss{border-top:1px solid #eee;}}
.date_tit{font-size:12px;color:var(--kb-txt-666666);line-height:1.33;
  &+.loss{border-top:1px solid #eee;}
}
/* 회원가입 */
.login_btm_btn{text-align:center;
  .btn_link{color:var(--kb-txt-666666);line-height:1.43;
    &:first-child{padding-right:12px;
      &:after{content:'';width:1px;height:14px;margin-left:12px;background-color:var(--kb-bg-dddddd);}
    }
  }
}
.chk_list{
  &.line{padding-bottom:16px;border-bottom:1px solid #ebebeb;}
}

/* 마이데이터인증 */
.form_chkbox{margin-top:16px;
  .checkbox{
    &>input{
      &:disabled+i{
        &+.lbl{color:var(--kb-txt-222222);}
      }
    }
  }
  &.flex_row{display:flex;flex-wrap:wrap;margin-top:0;
    .checkbox{width:50%;margin:10px 0 0 0;}
  }
}
.form_item{
  .fm_lb{
    .left{
      .tooltip_btn{margin-left:3px;}
    }
    .right{
      .button.line.small{height:28px;font-size:12px;color:var(--kb-txt-666666);border-color:var(--kb-line-ebebeb);}
    }
  }
}
.top_logo_txt{margin:32px 0;text-align:center;
  .img_logo{
    img{width:120px;height:28px;}
  }
  .txt{margin-top:12px;font-size:14px;color:var(--kb-txt-666666);line-height:1.43;}
}
.chk_list{
  &.type2{margin-top:4px;
    .right{overflow:hidden;
      .checkbox.full{min-height:16px;float:right;
        input{width:16px;height:16px;
          &:checked+i{
            background:var(--kb-bg-ffffff);
            &:after{border-color:rgb(var(--kb-theme-color));}
          }
        }
        i{width:16px;height:16px;border:0;
          &:after{top:2px;left:1px;}
        }
        .lbl{margin-left:2px;padding-left:16px;font-size:12px;color:var(--kb-txt-666666);line-height:1.33;}
      }
    }    
    .acc_info_chkbox{
      margin:0 -16px;
    }
  }  
}
.acc_info_list{margin:12px -20px 0px;
  &:before{background:#ebebeb;}
  .item{
    &:after{background:#ebebeb;}
    .tit{
      .button{padding:20px 20px;
        &:after{top:31px;}
      }
    }
  }  
  .acc_info_head{
    .cut{margin-left:4px;font-size:16px;color:#5177bc;line-height:1.5;}
  }
  .accordion_box{margin-bottom:0;
    .acc_info_box{
      &+.acc_info_box{border-top:1px solid #ebebeb;}
    }
  }

  .section_list{padding:0 20px;background:var(--kb-bg-f9fafb);
    & > div + div{border-top:1px solid #eee}

    .btn_delete{width:20px;height:20px;font-size:0;background:url('~@/assets/images/UT/ico_delete.png') no-repeat center center / 16px;}
  }
}
.acc_info_chkbox{display:block;margin-right:0;
  &.bg{background-color:#f9fafb;}
  input,i{top:50%;left:auto;right:33px;transform:translateY(-50%);}
  i + .lbl{margin:0;padding:40px 66px 40px 20px;
    strong{margin-right:8px;}
  }
  .lbl_child{position:absolute;top:16px;left:20px;margin-left:0;font-size:12px;color:var(--kb-txt-666666);line-height:1.33;margin-top:0;
    strong{
      &+strong:before{content:'';display:inline-block;width:1px;height:12px;margin:0 8px -1px;background:var(--kb-bg-dddddd);}
      &.ico_state{color:#5177bc;}
    }
  }
  .acc_num{position:absolute;bottom:16px;left:20px;font-size:14px;color:var(--kb-txt-666666);line-height:1.43;}
  &.type2{background:var(--kb-bg-f8f8f8);
    border-radius:6px;border:1px solid var(--kb-line-eeeeee);
    &+.type2{margin-top:8px;}
    input,i{right:30px;}
    i{top:16px;right:20px;transform:none;}
    .lbl{padding:40px 60px 40px 20px;}
    .lbl_child{left:16px;}
    .acc_num{left:16px;}
    &.checked{border:1px solid rgb(var(--kb-theme-color));background:rgba(var(--kb-theme-color),0.05);}
  }

  &.type3{
    .lbl{padding:20px 20px 20px;}
  }
}
/* 환경설정 */
.ready_box{display:flex;min-height:120px;margin:0 -20px;padding:16px 0 12px;background:rgba(91,134,212,0.1);justify-content:center;
  >div{
    [class*=ico]{display:inline-block;width:60px;height:60px;text-indent:-9999px;background:url('~@/assets/images/EN/05/ico_device.png') no-repeat 0 0;background-size:60px 120px;
      &.ico2{background-position:0 -60px;}
    }
  }
  .ico_arrow{width:24px;height:60px;margin-right:8px;padding:0 34px 0 20px;background:url('~@/assets/images/EN/05/ico_arrow_right.png') no-repeat center 19px;background-size:24px;}
  p{margin-top:8px;font-size:16px;font-weight:bold;color:#5177bc;line-height:1.5;}
}
.kakaopay{height:72px;margin:0 -20px;padding:18px 20px 13px;font-size:12px;font-weight:bold;color:#fff;background:#97a4bc url('~@/assets/images/EN/05/ico_kakaopay.png') no-repeat right 0;background-size:105px 72px;
  p{margin-top:4px;font-size:15px;line-height:1.47;}
  strong{color:#ffdc00;}
}
.button.line.type2{height:28px;font-size:12px;color:var(--kb-txt-666666);line-height:1.33;border-color:var(--kb-line-ebebeb);}
.dl_list{
  dt{margin-bottom:8px;font-size:18px;font-weight:bold;line-height:1.44;}
  dd{font-size:15px;line-height:1.47;}
  dd+dt{margin-top:32px;}
}
/* 투자/고수의 Pick */
.pick_top{position:relative;min-height:160px;margin:0 -20px 0;padding:32px 28px 24px;
  &.small{
    .ico{width:60px;height:60px;}
  }
  .ico{position:absolute;top:32px;right:20px;width:80px;height:80px;}

  //나의북마크
  &.my{
    background:rgba(255,220,0,0.12);
    .stit{color:#60584c;}
    .ico{top:0;right:0;width:160px;height:160px;background:url('~@/assets/images/IN/06/ico_pick_my.png') 0 0 no-repeat;background-size:100%;}
  }
  //전체
  &.ico0{background:rgba(91,134,212,0.16);
    .stit{color:#5177bc;}
    .ico{top:0;right:0;width:160px;height:160px;background:url('~@/assets/images/IN/06/ico_pick0.png') 0 0 no-repeat;background-size:100%;}
  }
  //투자품격
  &.ico1{background:rgba(114,164,255,0.16);
    .stit{color:#3838ac;}
    .ico{background:url('~@/assets/images/IN/06/ico_pick1.png') 0 0 no-repeat;background-size:100%;}
  }
  //보유멘탈
  &.ico2{background:rgba(255,150,47,0.16);
    .stit{color:#c67321;}
    .ico{background:url('~@/assets/images/IN/06/ico_pick2.png') 0 0 no-repeat;background-size:100%;}
  }
  //자본포스
  &.ico3{background:rgba(83,178,246,0.16);
    .stit{color:#2b90b7;}
    .ico{background:url('~@/assets/images/IN/06/ico_pick3.png') 0 0 no-repeat;background-size:100%;}
  }
  //운빨충만
  &.ico4{background:rgba(251,131,144,0.16);
    .stit{color:#c05e69;}
    .ico{background:url('~@/assets/images/IN/06/ico_pick4.png') 0 0 no-repeat;background-size:100%;}
  }
  //찐찐고수
  &.ico5{background:rgba(255,202,47,0.16);
    .stit{color:#a68014;}
    .ico{background:url('~@/assets/images/IN/06/ico_pick5.png') 0 0 no-repeat;background-size:100%;}
  }
  
  .stit{margin-bottom:4px;font-size:14px;font-weight:bold;line-height:1.43;}
  strong{font-size:20px;line-height:1.4;
    &+.tip_tit{margin-top:16px;}
  }
  .tip_tit{margin-top:4px;font-size:12px;color:var(--kb-txt-666666);line-height:1.33;}
}
.ico_pick{position:absolute;top:0;right:20px;width:52px;padding-top:56px;font-size:12px;font-weight:bold;line-height:1.17;text-align:center;
  &.ico1{color:#3838ac;background:url('~@/assets/images/IN/06/ico_pick1.png') 0 0 no-repeat;background-size:100%;}//투자품격
  &.ico2{color:#c67321;background:url('~@/assets/images/IN/06/ico_pick2.png') 0 0 no-repeat;background-size:100%;}//보유멘탈
  &.ico3{color:#2b90b7;background:url('~@/assets/images/IN/06/ico_pick3.png') 0 0 no-repeat;background-size:100%;}//자본포스
  &.ico4{color:#c05e69;background:url('~@/assets/images/IN/06/ico_pick4.png') 0 0 no-repeat;background-size:100%;}//운빨충만
  &.ico5{color:#a68014;background:url('~@/assets/images/IN/06/ico_pick5.png') 0 0 no-repeat;background-size:100%;}//찐찐고수
}
.pick_list{
  li{margin-top:32px;padding-bottom:24px;border-bottom:1px solid #eee;
    .btn_stock{position:relative;display:block;margin:0 -20px;padding:0 80px 0 20px;min-height:70px;
      strong{font-size:18px;line-height:1.44;}
      .tip_txt{margin-top:4px;font-size:14px;color:var(--kb-txt-666666);line-height:1.43;}
    }
    .hash_tags{display:flex;margin-top:12px;align-items:center;
      div{flex-wrap:wrap;
        span{display:inline-block;margin-right:12px;font-size:12px;color:#6f7a94;line-height:1.33;}
      }
      .btn_bmark{flex:0 0 auto;margin-left:auto;font-size:14px;line-height:1.43;
        [class*=ico_]{display:inline-block;width:24px;height:24px;vertical-align:bottom;background:url('~@/assets/images/IN/06/ico_bmark.png') 0 0 no-repeat;background-size:24px 48px;
          &.ico_on{background-position:0 -24px;}
        }
      }
      .button.bookmark{
        margin-left:auto;
      }
    }
  }
}
/* 즉시이체 */
.transfer_imm_wrap{
  min-height:calc((var(--vh) * 100) - 204px);
}
.transfer_acc_list{margin:0 -20px;padding:0 20px;background:var(--kb-bg-f9fafb);
  li{display:flex;padding:16px 0;flex-wrap:wrap;justify-content:space-between;align-items:center;border-bottom:1px solid #eee;
    &:last-child{border:0;}
    >div{flex:1;font-size:14px;line-height:1.43;
      span{margin-right:8px;}
      .acc_num{margin-top:4px;color:var(--kb-txt-666666);}
    }
    .button.bt_default{flex:0 0 auto;width:auto;height:20px;padding:0;font-size:14px;color:#5177bc;
      .bt_ic_arr{margin-left:2px;}
    }
    .state{font-weight:bold;font-size:14px;}
    .error{width:100%;margin-top:6px;padding-left:24px;text-indent:-24px;font-size:12px;font-weight:bold;color:#de092f;
      &:before{content:'';display:inline-block;width:16px;height:16px;margin-right:8px;margin-top:-2px;vertical-align:-4px;background:url('~@/assets/images/common/ico_error.png') no-repeat;background-size:100%;}
    }
    .checkbox.right{display:inline-flex;flex:0 0 auto;margin:0;}

    dl.list{display:flex;margin-top:20px;align-items:center;
      dt{flex:0 0 auto;font-size:12px;color:var(--kb-txt-666666);line-height:1.33;}
      dd{margin-left:auto;font-size:14px;color:var(--kb-txt-666666);line-height:1.43;line-height:1.43;font-weight:bold;
        span + span:before{content:',';display:inline-block;margin-right:3px;}
      }
      & + dl{margin-top:6px;}
    }

    .no_style{
      .lbl{margin-left:0;padding-left:0;}
      input,i{left:auto;right:0;top:50%;transform:translateY(-50%);}
      .text{font-size:14px;line-height:1.43;}
      & > input:checked ~ .lbl .text{color:#5177bc}
    }

    .button{display:flex;width:100%;padding:16px 0;
      .img_bank{flex:0 0 auto;position:relative;width:32px;height:32px;margin-right:8px;
        span{overflow:hidden;display:block;width:100%;height:100%;border:1px solid var(--kb-line-dddddd);border-radius:50%;font-size:0;background-repeat:no-repeat;background-size:cover;}
        &.mark:after{content:'';display:block;position:absolute;bottom:0px;left:-2px;width:16px;height:16px;background:url('~@/assets/images/FI/ico_bookmark.png') no-repeat 0 0 / 100%;}
      }
      .text{flex:1 1 auto;}
      .money{font-size:16px;font-weight:bold;line-height:1.5;}
    }

    &.type2{display:block;position:relative;
      .status{font-size:0;
        span{display:inline-block;margin-right:0;font-size:12px;color:var(--kb-txt-666666);line-height:1.33;}
        span + span:before{content:'';display:inline-block;width:1px;height:12px;margin-top:-2px;margin:0 8px;vertical-align:middle;background:var(--kb-bg-dddddd);}
      }
      .text{margin-top:8px;padding-right:30px;
        span{font-size:16px;line-height:1.5;font-weight:bold;}
      }
      .hidden{position:absolute;top:50%;right:0;font-size:16px;color:var(--kb-txt-666666);line-height:1.5;transform:translateY(-50%);}
    }
    &.type3{display:flex;position:relative;align-items:flex-start;padding:0;
      .text{overflow:hidden;margin-top:0px;padding-right:10px;
        span{overflow:hidden;display:block;font-size:16px;line-height:1.5;font-weight:bold;text-overflow:ellipsis;white-space:nowrap;}
        .acc_num{font-size:12px;color:var(--kb-txt-666666);}
      }
    }
  }
  &.box_type{
    margin:0;padding:0;background:none;
    li{
      border:1px solid var(--kb-line-ebebeb);border-radius:4px;padding:16px;
      +li{margin-top:8px;}
      .status span{font-weight:bold;}
    }
  }
  &.bg_none{background:none;}

  div.button{overflow:visible;}
}
.button{
  &.btn_add{width:100%;font-size:14px;color:#5177bc;line-height:1.43;
    &:before{content:'';display:inline-block;width:24px;height:24px;margin-right:2px;background:url('~@/assets/images/common/ico_linkage.png') no-repeat;background-size:100%;}
  }
  &.btn_select_type{display:block;height:auto;padding:16px 0 17px;text-align:left;border-bottom:1px solid var(--kb-line-eeeeee);background:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg%3E%3Cg%3E%3Cg%3E%3Cg%3E%3Cpath stroke='%23222' stroke-width='1.5' d='M4 8L12.243 16 20 8' transform='translate(-316.000000, -842.000000) translate(0.000000, 703.000000) translate(0.000000, 113.000000) translate(316.000000, 26.000000)'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A") right bottom 17px no-repeat;background-size:24px;
    .tit{margin-bottom:4px;font-weight:normal;font-size:14px;line-height:1.43;}
    .acc{font-size:18px;line-height:1.44;}
  }
}
/*
.btn_toggle{
  &.amount_type{
    .radio.btn{flex:1;
      .lbl{height:auto;padding:8px 8px 6px 8px;font-size:12px;color:var(--kb-txt-666666);line-height:1.33;border-radius:0 !important;border-color:var(--kb-line-ebebeb);}
      input:checked+i+.lbl{color:#fff;}
    }
  }
}
*/
.select{
  &.acc_type{display:flex;
    .btn_select{width:136px;padding-right:30px;
      .cut{display:flex;margin-top:2px;align-items:center;
        .logo{margin:-1px 8px 0 0;
          img{width:24px;height:24px;}
        }
        .name{overflow:hidden;height:20px;font-size:14px;font-weight:bold;line-height:1.43;word-break:break-all;}
      }      
    }
    .input{flex:1;
      input{padding-left:0;}
    }
  }
}
.form_item{
  &.tbl_type{
    .fm_cont{
      >div{display:flex;align-items:center;
        &+div{margin-top:8px;}
        label{width:86px;font-size:14px;color:var(--kb-txt-666666);line-height:1.43;}
        div{flex:1;}
      }
    }    
  }
}
/* 투자생활 */
.bg_txt_box{padding:12px 16px;font-size:12px;line-height:1.33;text-align:center;color:var(--kb-txt-666666);}
.estimate_box{padding-top:24px;
  &+.estimate_box{margin-top:18px;border-top:1px solid #eee;}
  .btn_delete{margin-top:24px;text-align:center;color:#5177bc;font-weight:bold;
    &:before{content:'';display:inline-block;width:24px;height:24px;vertical-align:-6px;background:url('~@/assets/images/common/ico_delete.png') no-repeat;background-size:100%;}
  }
}