.ui-datepicker-btn{width:24px;height:46px;font-size:3px;color:transparent;overflow:hidden;background:url("~@/assets/images/common/btn_datepicker.png") no-repeat left center;background-size:auto 24px;}
    
.popup.modal{
    .pop_wrap.ui-calendar{
        width:300px;color:#333;
        .pop_head{
            .pop_close{top:12px;right:12px;}
        }
        .pop_body{padding-top:40px;padding-bottom:0;}
    }
}

.calendar_swiper{
    position:relative;
    .swiper-pagination{display:none;}
}
.calendar_head{
    position:relative;display:flex;line-height:28px;height:28px;align-items:center;justify-content:center;
    .tit{
        position:relative;font-size:20px;font-weight:bold;margin:0 12px;
        strong.button{vertical-align:middle;}
        .button{
            font-weight:bold;line-height:28px;vertical-align:top;
            &.active{color:#5b86d4;text-decoration:underline;}
            +.button{margin-left:8px;}
        }
    }
    .tit_prev,
    .tit_next{display:flex;align-items:center;}
    .swiper_arr{
        display:inline-block;padding:0;width:24px;height:24px;overflow:hidden;text-align:center;font-size:3px;color:transparent;background-repeat:no-repeat;background-position:center center;
        &.disabled{opacity:0.3;}
        +.swiper_arr{margin-left:16px;}
    }
    .swiper_prev_y{
        background-image:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg%3E%3Cg%3E%3Cg%3E%3Cpath stroke='%23222' stroke-width='1.5' d='M16.667 6.667L11.333 12.161 16.667 17.333' transform='translate(-44 -251) translate(44 245) translate(0 2)'/%3E%3Cpath stroke='%23222' stroke-width='1.5' d='M12.667 6.667L7.333 12.161 12.667 17.333' transform='translate(-44 -251) translate(44 245) translate(0 2)'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
    }
    .swiper_prev{
        background-image:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg%3E%3Cg%3E%3Cg%3E%3Cpath stroke='%23222' stroke-width='1.5' d='M14.667 6.667L9.333 12.161 14.667 17.333' transform='translate(-98 -251) translate(44 245) translate(50 2)'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
    }
    .swiper_next{
        background-image:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg%3E%3Cg%3E%3Cg%3E%3Cpath stroke='%23222' stroke-width='1.5' d='M14.667 6.667L9.333 12.161 14.667 17.333' transform='translate(-246 -251) translate(44 245) translate(198 2) matrix(-1 0 0 1 24 0)'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    }
    .swiper_next_y{
        background-image:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg%3E%3Cg%3E%3Cg%3E%3Cpath stroke='%23222' stroke-width='1.5' d='M12.667 6.667L7.333 12.161 12.667 17.333' transform='translate(-296 -251) translate(44 245) translate(248 2) matrix(-1 0 0 1 20 0)'/%3E%3Cpath stroke='%23222' stroke-width='1.5' d='M16.667 6.667L11.333 12.161 16.667 17.333' transform='translate(-296 -251) translate(44 245) translate(248 2) matrix(-1 0 0 1 28 0)'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
    }
    
}
.calendar_swiper_body{
    position:relative;padding:16px 0 24px;box-sizing:content-box;transition:height 0.3s;overflow:hidden;
    //height:266px;
    // .swiper-slide{width:300px;}
}

.ui_tbl_datepicker{position:relative;padding:0 15px;}
.ui_datepicker_calendar{
    font-size:1.5rem;position:relative;z-index:1;
    .thead,
    .tbody{display:flex;flex-wrap:wrap;}
    .th{font-size:12px;color:#666;font-weight:bold;}
    .td{font-size:14px;}
    .th,
    .td{
        display:inline-flex;flex:0 0 14.285%;height:36px;align-items:center;justify-content:center;text-align:center;
        &.first{
            color:#de092f;
            .ui_date_btn{color:#de092f;}
        }
        &.last{
            color:#0075c5;
            .ui_date_btn{color:#0075c5;}
        }
        .ui_date_btn{
            display:flex;width:36px;height:36px;font-size:1.3rem;text-align:center;border-radius:50%;margin:0 auto;align-items:center;justify-content:center;
            &.today{
                background-color:rgba(255,220,0,0.05);border:1px solid #ffdc00;
                background-color:rgba(var(--kb-theme-color),0.05);border-color:rgb(var(--kb-theme-color));
            }
            &.selected{background-color:#5b86d4;font-weight:bold;color:#fff !important;border-width:0;}
            &.disabled{opacity:0.3;}
        }
    }
}

.calendar_select{
    position:relative;padding:16px;
    &>ul{
        &>li{display:inline-block;width:33.33%;padding:4px 8px;}
    }
    .ui_select_btn{
        display:block;width:100%;border-radius:4px;font-size:16px;line-height:24px;padding:8px 0;font-weight:bold;
        &.selected{background-color:#5b86d4;color:#fff !important;}
        &.out{opacity:0.6;}
        &.disabled{opacity:0.3;}
    }
    .ui_select_arr{
        position:absolute;top:50%;width:30px;height:50px;margin-top:-25px;
        background:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='36.5px' height='62.5px'%3E%3Cpath fill-rule='evenodd' stroke='rgb(102,102,102)' stroke-width='3px' stroke-linecap='round' stroke-linejoin='miter' fill='none' d='M32.065,4.912 L6.447,30.493 L32.065,56.075 '/%3E%3C/svg%3E") 50% 50% no-repeat;background-size:12px auto;
        &.prev{left:0;}
        &.next{right:0;transform:rotate(180deg);}
        &.disabled{opacity:0.3;}
    }
}
.section .calendar_table{margin-left:-20px;margin-right:-20px;}
.calendar_table{
    position:relative;
    .thead,
    .tbody,
    .tr{display:flex;flex-wrap:wrap;}
    .tr{width:100%;}
    .th,
    .td{
        flex:0 0 14.285%;width:14.285%;
        &.first{
            color:#de092f;
            .ui_date_btn{color:#de092f;}
        }
        &.last{
            color:#0075c5;
            .ui_date_btn{color:#0075c5;}
        }
        
    }
    .th{text-align:center;font-size:12px;color:#666;}
    .td{
        padding:0 2px;
        .calendar_btn{
            display:block;width:100%;height:100%;text-align:center;height:60px;padding-top:7px;
            .day{width:30px;height:30px;border-radius:50%;line-height:28px;margin:0 auto;font-weight:bold;font-size:14px;border:1px solid transparent;}
            .cont{font-size:8px;color:#666;margin-top:3px;word-break:break-all;line-height:1;text-align:center;}
            &.today{
                .day{background-color:rgba(255,220,0,0.05);border-color:#ffdc00;border-color:rgb(var(--kb-theme-color));}
            }
            &.selected{
                .day{background-color:#5b86d4;border-color:#5b86d4;color:#fff;}
            }
            &.disabled{opacity:0.3;}
        }
    }
}
