.page_wrap.main{
	>.page_inner{
		>.page_head{
			>div{background:#f8f8f8;}
			h1{display:none;}
			& > div > .button.btn_gnb_home{display:none;}
		} 
		>.page_container{
			min-height:auto;background:#f8f8f8;
			>.page_body{padding:0;}
		}
	}
	.main_tab{
		margin:0;padding:8px;text-align:center;
		> .tabmenu{
			height:auto;background:none;display:inline-flex;
			&:before{display:none;}
			> .tablist{
				> .tab{
					width:auto;
					+ .tab{margin-left:32px}
					> a{
						padding:6px;font-size:18px;line-height:26px;
					}
				}
				>.tab_line i:before{height:2px;}
			}
		}
	}
	.main_pagination{
		display:none;
		// display:flex;height:58px;padding:8px 0;position:relative;bottom:auto;left:auto;width:auto;text-align:left;text-align:center;align-items:center;justify-content:center;
		// .swiper-pagination-bullet{
		// 	position:relative;width:auto;height:auto;background:none;opacity:1;margin:0;padding:6px;font-size:18px;line-height:26px;color:#666;transition:0.3s;
		// 	&:after{content:'';display:block;position:absolute;left:50%;bottom:0;width:0;height:2px;background:#222;transition:all 0.3s 0s;}
		// 	+.swiper-pagination-bullet{margin-left:32px;}
		// 	&.swiper-pagination-bullet-active{
		// 		color:#222;font-weight:bold;
		// 		&:after{width:100%;left:0;}
		// 	}
		// }
	}
}
.main_swiper{
	overflow:hidden;flex:1 1 auto;
	.section{
		min-height:calc(100vh - 114px);min-height:calc((var(--vh,1vh) * 100) - 114px);padding-bottom:80px;
	}
}
.main_layer_view{
	position:fixed;left:0;bottom:0;width:100%;top:0;z-index:101;transform:translate3d(0,0,0);transition:top 0.3s;overflow:hidden;pointer-events:none;padding-top:56px;
	& > .bg{display:block;position:absolute;top:0;left:0;width:100%;height:100%;background:#000;opacity:0;font-size:3px;color:transparent;overflow:hidden;}
	& > .inner{
		position:absolute;left:0;bottom:0;width:100%;height:118px;pointer-events:auto;border-radius:15px 15px 0 0;box-shadow:0 2px 15px rgba(0,0,0,0.5);background:#fff;overflow:hidden;   transform:translate3d(0,0,0);
		> .mask{position:absolute;top:110px;left:0;width:100%;bottom:0;background:#fff;z-index:1;}
		> .ui-touch{
			display:block;position:absolute;left:0;top:0;width:100%;border-radius:15px 15px 0 0;overflow:hidden;font-size:3px;color:transparent;text-align:center;
			height:100%;
			// height:38px;
		}
	}

	.page_wrap{
		height:100vh;height:calc(var(--vh,1vh) * 100);padding-top:38px;padding-bottom:10px;transition:padding 0.3s;/* position:static;*/overflow:hidden;
		&:before{content:'';display:block;position:absolute;top:6px;left:50%;width:40px;height:4px;margin-left:-20px;border-radius:4px;background:#ddd;}
	}
	.page_head,
	.page_foot{display:none;}
	.page_container{min-height:auto;padding-bottom:0;}
	.assets_header{
		.btn_linkage{z-index:1;}
		.info_box{
			.btn_refresh,
			.refresh{z-index:1;}
			.switch{z-index:1;}
		}
	}
	.floating_btn{display:none;}

	&.downsize{
		& > .inner{
			height:64px;
			&:before{content:'자산현황보기';font-size:14px;position:absolute;top:28px;left:50%;transform:translateX(-50%);}
		}
		.page_wrap{padding-top:64px;overflow:hidden;}
	}

	&.full{
		pointer-events:auto;
		& > .bg{opacity:0.6;}
		& > .inner{
			height:calc(100% - 56px);
			.ui-touch{height:38px;}
		}
		.page_wrap{overflow:auto;height:100%;padding-bottom:0;overflow:auto;}
		.floating_btn{display:block;}
	}
	&.off{top:100%;}

	.timeline_wrap{
		.timeline_box .timeline_list .day{top:0;}
	}

	.assets_header{margin-top:0;}

	.tabmenu{height:48px;
		& > .tablist > .tab > a{height:48px;}
	}
}

.main_user_info{
	position:relative;font-size:14px;font-weight:bold;display:flex;align-items:center;
	.button{line-height:24px;font-size:14px;}
	.level{
		display:inline-flex;width:24px;height:24px;margin-right:8px;align-items:center;justify-content:center;font-size:10px;
		background:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23FFDC00' stroke='%23222' stroke-width='1.5'%3E%3Cg%3E%3Cg%3E%3Cpath d='M12 1.214c.388 0 .777.1 1.125.302h0l7.392 4.267c.696.402 1.125 1.145 1.125 1.95h0v8.535c0 .804-.429 1.547-1.125 1.949h0l-7.392 4.267c-.348.201-.737.302-1.125.302s-.777-.1-1.125-.302h0l-7.392-4.267c-.348-.201-.63-.488-.824-.824-.194-.336-.301-.723-.301-1.125h0V7.732c0-.402.107-.789.301-1.125.194-.336.476-.623.824-.824h0l7.392-4.267c.348-.201.737-.302 1.125-.302z' transform='translate(-20 -40) translate(0 24) translate(20 16)'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A") no-repeat center center / contain;
	}

	.tabmenu{height:48px;}
}

// 오늘
.main_to_wrap{
	display:flex;flex-direction:column;min-height:calc(100vh - 214px);min-height:calc((var(--vh,1vh) * 100) - 214px);
}
.is_app{
	.main_to_wrap{
		min-height:calc(100vh - 113px);min-height:calc((var(--vh,1vh) * 100) - 113px);
		&:after{content:'';display:block;flex:0 0 101px;height:101px;background:#ffdc00;}
	}
}
.main_to_swiper{
	position:relative;flex:1 1 auto;height:260px;
	&.ui-swiper-wrap{margin-top:0;}
	.ui-swiper{
		position:absolute;top:0;left:0;height:calc(100% + 40px);width:100%;
		&.swiper-container-initialized{
			padding:0 24px;height:calc(100% + 40px);
			.swiper-wrapper{height:100% !important;}
			.swiper-slide{
				//max-width:320px;
				padding:0 6px 40px;height:100%;
			}
		}
	}
	.item{
		display:block;position:relative;height:100%;
		&:before{content:'';display:block;position:absolute;width:86%;height:95%;bottom:0;left:7%;border-radius:8px;box-shadow:0 10px 30px 0 rgba(0,0,0,0.12);}
	}
	.inner{display:block;position:relative;background:#fff;border-radius:8px;box-shadow:0 6px 10px 0 rgba(0,0,0,0.05);overflow:hidden;
		//height:36.1111vh;height:calc(var(--vh,1vh) * 36.1111);
		height:100%;
	}
	.edge{
		display:flex;position:absolute;right:0;top:0;height:32px;padding:2px 8px 0 16px;color:#5177bc;font-size:12px;background:#f9fafb;border-radius:0 8px;text-align:center;align-items:center;
		&:after{content:'';display:block;width:16px;height:16px;margin-left:1px;background:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg%3E%3Cg%3E%3Cg%3E%3Cg%3E%3Cpath stroke='%23888' stroke-width='1.5' d='M10.5 3L5.5 8.151 10.5 13' transform='translate(-996.000000,-308.000000) translate(700.000000,300.000000) translate(242.000000,0.000000) translate(54.000000,8.000000) translate(8.000000,8.000000) scale(-1,1) translate(-8.000000,-8.000000)'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A") no-repeat center center / contain;}
	}
	.img{
		display:flex;position:absolute;right:0;bottom:0;width:65%;height:260px;max-height:100%;align-items:flex-end;justify-content:flex-end;
		img{max-width:100%;max-height:100%;}
	}
	.bg{
		position:absolute;right:0;bottom:0;width:65%;height:260px;max-height:100%;background-position:right bottom;background-repeat:no-repeat;background-size:contain;
		&.bg_ty1{background-image:url('~@/assets/images/main/to_insight_1.png');}
		&.bg_ty2{background-image:url('~@/assets/images/main/to_insight_2.png');}
		&.bg_ty3{background-image:url('~@/assets/images/main/to_insight_3.png');}
		&.bg_ty4{background-image:url('~@/assets/images/main/to_insight_4.png');}
		&.bg_ty5{background-image:url('~@/assets/images/main/to_insight_5.png');}
		&.bg_ty6{background-image:url('~@/assets/images/main/to_insight_6.png');}
		&.bg_ty7{background-image:url('~@/assets/images/main/to_insight_7.png');}
		&.bg_ty8{background-image:url('~@/assets/images/main/to_insight_8.png');}
		&.bg_ty9{background-image:url('~@/assets/images/main/to_insight_9.png');}
		&.bg_ty10{background-image:url('~@/assets/images/main/to_insight_10.png');}
		&.bg_ty11{background-image:url('~@/assets/images/main/to_insight_11.png');}
		&.bg_ty12{background-image:url('~@/assets/images/main/to_insight_12.png');}
		&.bg_ty13{background-image:url('~@/assets/images/main/to_insight_13.png');}
		&.bg_ty14{background-image:url('~@/assets/images/main/to_insight_14.png');}
		&.bg_ty15{background-image:url('~@/assets/images/main/to_insight_14.png');}
	}
	.img,.bg{opacity:0;transform:translateX(50%);transition:all 0.3s cubic-bezier(0.22,0.61,0.36,1) 0s;}
	.cont{display:flex;position:relative;height:100%;padding:48px 24px 56px 24px;flex-direction:column;justify-content:space-between;white-space:pre-line;}
	.tit{font-size:20px;line-height:28px;opacity:0;transform:translateY(15px);transition:all 0.5s cubic-bezier(0.22,0.61,0.36,1) 0.3s;}
	.info{
		padding-right:45%;
		.th{
			font-size:14px;line-height:20px;color:#666;
			+.td{margin-top:4px;transition-delay:0.9s;}
		}
		.td{font-size:18px;line-height:26px;}
		.th,.td{opacity:0;transform:translateY(15px);transition:all 0.5s cubic-bezier(0.22,0.61,0.36,1) 0.6s;}
	}
	.swiper-slide-active{
		.img,.bg{opacity:1;transform:translateX(0);transition-duration:1s;transition-delay:0.6s;}
		.tit,
		.info .th,
		.info .td{opacity:1;transform:translateY(0);}
	} 

	.swiper-pagination-wrap{
		position:absolute;left:55px;bottom:60px;margin-top:0;padding:0;
	}
}
.main_to_quick{height:106px;position:relative;flex:1 1 auto;z-index:1;display:flex;align-items:center;}
.main_quick_swiper{
	&.ui-swiper-wrap{margin-top:0;width:100%;}
	.ui-swiper.swiper-container-initialized{
		padding:0 16px;
		.swiper-slide{width:23%;min-width:80px;padding:0;}
	} 
	.swiper-pagination-wrap{display:none;}
	.quick_item{
		display:block;width:80px;
		.txt{font-size:14px;line-height:20px;font-weight:bold;text-align:center;}
	}
}
.quick_ico{width:32px;height:32px;margin:0 auto 4px;background-repeat:no-repeat;background-position:center center;background-size:contain;
	&.ico_0{background-image:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg%3E%3Cg%3E%3Cg%3E%3Cg%3E%3Cpath stroke='%23222' stroke-width='1.5' d='M17.286 19.285C15.761 20.394 13.923 21 12 21c-4.974 0-9-4.026-9-9s4.026-9 9-9 9 4.026 9 9c0 1.79-.521 3.496-1.487 4.964l-.057.067M12 17L12 7M17 12L7 12' transform='translate(-364 -533) translate(16 527) translate(324 6) translate(24)'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");background-size:24px 24px;}
	&.ico_1{background-image:url('~@/assets/images/main/quick_ico_1.png');} //오늘
	&.ico_2{background-image:url('~@/assets/images/main/quick_ico_2.png');} //투자생활
	&.ico_3{background-image:url('~@/assets/images/main/quick_ico_3.png');} //금융생활
	&.ico_4{background-image:url('~@/assets/images/main/quick_ico_4.png');} //마이페이지
	&.ico_5{background-image:url('~@/assets/images/main/quick_ico_5.png');} //환경설정
	&.ico_6{background-image:url('~@/assets/images/main/quick_ico_6.png');} //내메모
	&.ico_7{background-image:url('~@/assets/images/main/quick_ico_7.png');} //내자산비타민
	&.ico_8{background-image:url('~@/assets/images/main/quick_ico_8.png');} //내자산QnA
	&.ico_9{background-image:url('~@/assets/images/main/quick_ico_9.png');} //고객센터
}
.main_to_qna{
	position:relative;height:140px;flex:0 0 auto;border-radius:20px 20px 0 0;
	.button{
		display:block;position:absolute;top:0px;left:20px;right:20px;bottom:20px;height:100px;border-radius:8px;background:#ffdc00;
		&:before{
			content:'';display:block;position:absolute;right:0;bottom:0;height:100%;width:120px;background:url('~@/assets/images/main/main_to_qna.png') no-repeat right center;background-size:120px auto;
			animation:main-to-qna 0.5s ease-out 0.5s backwards;
		}
		.inner{
			position:relative;display:flex;height:100%;padding:20px 100px 20px 20px;justify-content:center;flex-direction:column;
			.info{
				.th{font-size:12px;opacity:0.6;}
				.td{margin-top:4px;display:-webkit-box;overflow:hidden;word-wrap:break-word;-webkit-box-orient:vertical;-webkit-line-clamp:2;font-size:14px;}
			}
		}
	}
}
@keyframes main-to-qna{
	from{transform:scale(0);opacity:0;}
}
// 금융생활
.main_swiper .white_box{overflow:hidden;padding:20px 20px 0;border-radius:8px;box-shadow:0 10px 20px 0 rgba(0,0,0,0.08);background:#fff;
  .more{width:100%;color:#666;background:#fff;
    &:before{color:#666;}
  }
}

.view_calendar{display:flex;font-size:16px;line-height:1.5;font-weight:bold;
  &:after{content:'';flex:0 0 auto;margin-left:auto;width:24px;height:24px;background:url('~@/assets/images/FI/ico_calendar.png') no-repeat center center / 100%;}
}

// 투자생활
.page_wrap.main{
	.portfolio_wrap{
		.portfolio_box{
			.swiper-slide{width:calc(100% - 10px);margin:0 5px;padding:0;background:#fff;box-shadow:0 6px 6px 0 rgba(0,0,0,0.08);border-radius:8px;}
			
			.main_swiper{position:relative;height:160px;padding:32px 20px 0;margin-top:0;border-radius:8px;
        &.type1{background:#d0e093;}
        &.type2{background:#f7bac8;}
        &.type3{background:#9cd5c6;}
        &.type4{background:#beb6af;}
        &.type5{background:#d2b7f1;}
        .img{top:32px;right:20px;}
        .btn_friends{display:block;position:absolute;bottom:18px;left:20px;width:105px;height:28px;border-radius:2px;font-size:12px;font-weight:bold;line-height:28px;text-align:center;background:rgba(34,34,34,0.08);}
      }
		}
		.theme_list{margin-top:12px;
			.button{display:block;width:132px;height:120px;padding:16px;font-size:16px;font-weight:bold;text-align:left;color:#fff;line-height:1.5;word-break:break-all;}
			.swiper-pagination-wrap{display:none;}
		}
	}

	.model_portfolio{margin-top:12px;
		.ui-swiper{padding-bottom:32px;}
		.swiper-slide{width:calc(100% - 10px);margin:0 5px;padding:0;background:#fff;box-shadow:0 6px 6px 0 rgba(0,0,0,0.08);border-radius:8px;}
		.type_box{position:relative;height:132px;padding:24px 20px;
			.tit{font-size:16px;line-height:1.5;font-weight:bold;}
			.btn_link{margin-top:16px;
				.bt_ic_arr:before{border-color:#333;}
			}

			.img{position:absolute;top:0;right:0;width:120px;height:132px;
				&.type1{background:url('~@/assets/images/IN/00/ico_portfolio_type1.png') no-repeat center center /100%;}
				&.type2{background:url('~@/assets/images/IN/00/ico_portfolio_type2.png') no-repeat center center /100%;}
				&.type3{background:url('~@/assets/images/IN/00/ico_portfolio_type3.png') no-repeat center center /100%;}
				&.type4{background:url('~@/assets/images/IN/00/ico_portfolio_type4.png') no-repeat center center /100%;}
				&.type5{background:url('~@/assets/images/IN/00/ico_portfolio_type5.png') no-repeat center center /100%;}
			}
		}
		.swiper-pagination-wrap{display:none;}
	}

	.pick_list{margin-top:12px;
		.ui-swiper{padding-bottom:32px;}
		.swiper-slide{width:calc(100% - 10px);margin:0 5px;padding:0;background:#fff;box-shadow:0 6px 6px 0 rgba(0,0,0,0.08);border-radius:8px;}
		.btn_stock{position:relative;height:164px;padding:24px 20px;
			strong{font-size:16px;font-weight:bold;line-height:1.5;}
			.tip_txt{margin-top:4px;font-size:14px;color:#666;line-height:1.43;}
			.ico_pick{top:24px;}
		}
		.swiper-pagination-wrap{position:absolute;bottom:48px;left:0;right:0;}
	}
	
	.pattern_card{position:relative;margin:12px -20px 0;padding:0 20px;background:none;
		> .btn_link{display:flex;position:absolute;top:20px;left:40px;right:40px;z-index:2;width:calc(100% - 80px);
			.bt_ic_arr{margin-left:auto;}
			.bt_ic_arr:before{border-color:#888;}
		}
		.card_wrap{width:auto;height:auto;
			.ui-swiper{padding-bottom:8px;}
			.ui-swiper .swiper-slide,
			.ui-swiper .swiper-slide.swiper-slide-active{width:calc(100% - 10px);height:360px;margin:0 5px;padding:0;background:#fff;box-shadow:0 6px 6px 0 rgba(0,0,0,0.08);border-radius:8px;
				> a{height:100%;}
			}
			.card_list{width:auto;margin-bottom:0;
				.in{padding:0;}
				.tit{padding-top:68px;}
			}

			.swiper-pagination-wrap{display:block;position:absolute;bottom:24px;left:0;right:0;z-index:2;}
		}
	}

	.button.flex_wrap{display:flex;width:100%;
		.bt_ic_arr:before{border-color:#888;}
	}

	.my_assets{
		.tit{margin-bottom:4px;font-size:14px;color:#666;font-weight:bold;line-height:1.43;text-align:center;
			&:before{content:'';display:block;width:40px;height:40px;margin:22px auto 8px;background:url('~@/assets/images/IN/00/ico_coin.png') no-repeat center center /100%;}
		}
		.money{text-align:center;font-size:20px;font-weight:bold;line-height:1.4;}
		.process_box{margin-top:24px;
			.bar{overflow:hidden;position:relative;height:8px;border-radius:2px;margin-top:10px;background:#eee;
				span{display:block;position:absolute;top:0;left:0;height:100%;font-size:0;background:#5b86d4;}
			}
		}
	}

	.invest_box{position:relative;height:142px;margin-top:12px;padding:32px 20px;
		.text	{font-size:14px;color:#666;}
		.tit{margin-top:6px;font-size:18px;line-height:1.44;font-weight:bold;}
		.ico{position:absolute;top:0;right:0;width:120px;height:100%;
			&.ico1{background:url('~@/assets/images/IN/00/ico_invest_1.png') no-repeat center center /100%;}
			&.ico2{background:url('~@/assets/images/IN/00/ico_invest_2.png') no-repeat center center /100%;}
			&.ico3{top:24px;right:20px;width:100px;height:100px;background:url('~@/assets/images/IN/00/ico_invest_3.png') no-repeat center center /100%;}
		}

		&.type2{height:212px;padding:24px 20px 12px;}
	}


	.btn_setting{overflow:visible;display:inline-block;font-size:12px;color:#6f7a94;font-weight:bold;line-height:1.43;
		&:before{content:'';display:inline-block;width:16px;height:16px;margin-right:4px;margin-top:-2px;vertical-align:middle;background:url('~@/assets/images/MY/09/ico_setting.png') no-repeat center center / 100%;}
	}

	.none_box{overflow:hidden;position:relative;height:160px;padding-left:120px;
		.tit{margin-top:34px;font-size:16px;font-weight:bold;line-height:1.5;}
		.tit2{font-size:18px;font-weight:bold;line-height:1.44;}
		.text{margin-top:4px;font-size:14px;color:#666;line-height:1.43;}
		.ico{position:absolute;top:0;left:0;width:108px;height:100%;background:url('~@/assets/images/IN/00/ico_robot.png') no-repeat center center /100%;}

		.ico_medal{display:inline-block;width:40px;height:40px;vertical-align:middle;background:url('~@/assets/images/IN/ico_medal_0.png') no-repeat center center /100%;
			&.ico0{background:url('~@/assets/images/IN/ico_medal_0.png') no-repeat center center /100%;}
			&.ico1{background:url('~@/assets/images/IN/ico_medal_1.png') no-repeat center center /100%;}
			&.ico2{background:url('~@/assets/images/IN/ico_medal_2.png') no-repeat center center /100%;}
			&.ico3{background:url('~@/assets/images/IN/ico_medal_3.png') no-repeat center center /100%;}
			&.ico4{background:url('~@/assets/images/IN/ico_medal_4.png') no-repeat center center /100%;}
		}

		&.type2{padding:32px 28px;}
	}

	.assets_none_box > .none_box{height:auto;padding-left:0;}

	.none_box2{overflow:hidden;position:relative;height:132px;padding:0 20px;margin-top:12px;
		.tit{margin-top:4px;font-size:18px;font-weight:bold;line-height:1.5;}
		.text{margin-top:30px;font-size:14px;color:#666;line-height:1.43;}
		.ico{position:absolute;top:0;right:0;width:120px;height:100%;
			&.ico0{background:url('~@/assets/images/IN/00/ico_invest_none.png') no-repeat center center /100%;}
			&.ico1{background:url('~@/assets/images/IN/00/ico_report_none.png') no-repeat center center /100%;}
			&.ico2{background:url('~@/assets/images/IN/00/ico_portfolio_none.png') no-repeat center center /100%;}
			&.ico3{background:url('~@/assets/images/IN/00/ico_retire_none.png') no-repeat center center /100%;}
		}

		&.type2{height:160px;padding:0 28px;margin-top:0;}
	}
}